body{
font-family: "verdana";
background-image: url("https://images.fineartamerica.com/images-medium-large-5/autumns-glow-c-steele.jpg");
background-repeat: no-repeat;
background-size: cover;
color: white;
}

h1{
text-align: center;
color: black;
}
h1:hover{
  color: white;
}

#gamePlay{
  text-align: center;
}

#userAccount{
  font-size: 10pt;
}

#userLogin{
  text-align: center;
}
#c{
background-color: white;
text-align: center;
}
